:host ::ng-deep .p-tabview .p-tabview-nav {
  li .p-tabview-nav-link {
    gap: 0.5rem;
  }
  li.p-highlight {
    .p-tabview-nav-link {
      background: var(--primary-color);
      color: var(--text-color);
      border-color: var(--primary-color);
    }
  }
}

:host ::ng-deep .p-tabview-nav-content {
  border-bottom: 3px solid var(--primary-color);
}